section {
    min-height: 100vh;
    background: rgba(57, 57, 58, 0.15) url("../images/live-music.jpg") no-repeat top center;
    background-size: cover;
    opacity: 1;
}

#myVideo {
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.dark-opacity-05 {
    background: rgba(0, 0, 0, 0.5)
}

#logo1 {
    font-family: 'Monoton', cursive;
    letter-spacing: .1em;
    font-size: 74px;
    width: 550px;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

#logo2 {
    font-size: 72px;
    opacity: .8;
}

#logo3 {
    font-size: 40px;
    font-family: 'Monoton', cursive;
}

#logo4 {
    opacity: .8;
}

#searchcontainer {
    opacity: .9;
}

#upcomingevents {
    opacity: .9;
}

.hidden {
    display: none!important;
}

.card-footer {
    height: 100%;
}

#artist_input {
    font-size: 32px;
    padding: 30px;
    text-align: center;
}

#artist_input_navbar {
    width: 300px;
}

#ticket-header, #artist-header {
    opacity: 1;
}

.main {
    position: relative;
    background-color: #000;
    background: linear-gradient(45deg, rgb(0, 0, 0),rgb(110, 110, 110),#010);
  }
  section {
    padding: 1em;
  }
  

  form{
      position: relative;
      z-index: 2;
      cursor: none;
  }
  .cursor-box {
      cursor: none;
      position: relative;
    width: 40em;
    height: 40em;
    position: absolute;
    box-shadow: 0 0 0 10000px rgb(0, 0, 0);
    z-index: 1;
    border-radius: 50%;
    opacity: .85;
  }
  .cursor-box-child {
      cursor: none;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 50%;
        border: 0;
        box-shadow: inset 0px 0px 200px 75px rgba(237, 238, 206, 0.5);
      }

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

