section {
    min-height: 100vh;
    background: rgba(57, 57, 58, 0.15) url("../images/live-music.jpg") no-repeat top center;
    background-size: cover;
    opacity: 1;
}

#myVideo {
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.dark-opacity-05 {
    background: #00000050;
}

.dark-opacity-09 {
    background: #00000090;
}

.light-opacity-09 {
    background: #ffffff90;
}

#logo1 {
    font-family: 'Monoton', cursive;
    letter-spacing: .1em;
    font-size: 74px;
    width: 550px;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}

#logo2 {
    font-size: 72px;
    opacity: .8;
}

#logo3 {
    font-size: 40px;
    font-family: 'Monoton', cursive;
}

#logo4 {
    opacity: .8;
}

#searchcontainer {
    opacity: .9;
}

#upcomingevents {
    opacity: .9;
}

.hidden {
    display: none!important;
}

.card-footer {
    height: 100%;
}

#artist_input {
    font-size: 32px;
    padding: 30px;
    text-align: center;
}

#artist_input_navbar {
    width: 300px;
}

#ticket-header, #artist-header {
    opacity: 1;
}

.main {
    position: relative;
    background-color: #000;
    background: linear-gradient(45deg, rgb(0, 0, 0),rgb(110, 110, 110),#010);
  }
  section {
    padding: 1em;
  }
  

  form{
      position: relative;
      z-index: 2;
      cursor: none;
  }
  .cursor-box {
      cursor: none;
      position: relative;
    width: 40em;
    height: 40em;
    position: absolute;
    box-shadow: 0 0 0 10000px rgb(0, 0, 0);
    z-index: 1;
    border-radius: 50%;
    opacity: .85;
  }
  .cursor-box-child {
      cursor: none;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 50%;
        border: 0;
        box-shadow: inset 0px 0px 200px 75px rgba(237, 238, 206, 0.5);
      }

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main {
  position: relative;
  background-color: #000;
  background: linear-gradient(45deg, rgb(0, 0, 0),rgb(110, 110, 110),#010);
}

form{
    position: relative;
    z-index: 999;
    cursor: pointer;
}
.cursor-box {
  cursor: none;
  position: relative;
  width: 240px;
  height: 240px;
  position: absolute;
  box-shadow: 0 0 0 10000px rgb(0, 0, 0);
  z-index: 1;
  border-radius: 50%;
  opacity: .85;
}
.cursor-box-child {
    cursor: none;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 50%;
      border: 0;
      box-shadow: inset 0px 0px 200px 75px rgba(237, 238, 206, 0.5);
}
.card {
        background: transparent!important;
}

.h-500 {
    min-height: 500px!important
}

.center {
    margin: 0 auto;
}

#map {
    height: 100%;
    max-height: 200px
  }

.nicebox {
    text-align: center;
    background: #eee;
    padding: 5px;
    border: 1px solid #eeeeee;
    border-radius: 6px;
    box-shadow: 0 0 5px #666;
}

figure {
    margin: 3em auto;
    width: 368px;
    height: 152px;
  }

canvas {
    display: block;
    float: left;
    margin-right: 8px;
  }
/* Styling for Buttons */

#button1 {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #55bcc9 5%, #474745 100%);
    background-color:#55bcc9;
    border-radius:8px;
    border-radius:8px;
    border-width: 3px;
    border-block-start-style: groove;
    border-color: rgb(204, 204, 204);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:9px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
#button1:hover {
    background:linear-gradient(to bottom, #474745 5%, #55bcc9 100%);
    background-color:#474745;
}
#button1:active {
    position:relative;
    top:1px;
}

#button2 {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #fc4445 5%, #474745 100%);
    background-color:#fc4445;
    border-radius:8px;
    border-width: 3px;
    border-color: rgb(204, 204,204);
    border-block-start-style: groove;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:9px 22px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
#button2:hover {
    background:linear-gradient(to bottom, #474745 5%, #fc4445 100%);
    background-color:#474745;
}
#button2:active {
    position:relative;
    top:1px;
}

#navbar_search {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #3feee6 5%, #474745 100%);
    background-color:#3feee6;
    border-radius:8px;
    border-radius:8px;
    border-width: 3px;
    border-block-start-style: groove;
    border-color: rgb(204, 204, 204);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:9px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
#navbar_search:hover {
    background:linear-gradient(to bottom, #474745 5%, #3feee6 100%);
    background-color:#474745;
}
#navbar_search:active {
    position:relative;
    top:1px;
}

#book_htl, #pln_tkts {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #55bcc9 5%, #474745 100%);
    background-color:#55bcc9;
    border-radius:8px;
    border-radius:8px;
    border-width: 3px;
    border-block-start-style: groove;
    border-color: rgb(204, 204, 204);
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:9px 26px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
#book_htl:hover, #pln_tkts:hover {
    background:linear-gradient(to bottom, #474745 5%, #55bcc9 100%);
    background-color:#474745;
}
#book_htl:active, #pln_tkts :active {
    position:relative;
    top:1px;
}

